@using System.Configuration
@using BbCodeFormatter
@using LangResources.Utility
@using SnitzConfig
@using SnitzCore.Extensions
@using SnitzDataModel
@using SnitzDataModel.Extensions
@using WWW.Views.Helpers
@model FaqProcessor

@section styles{
    <style>
        .modal-content {
            min-width: 600px;
            width: 800px
        }
        /*body.modal-open div.modal-backdrop {
            z-index: 0;
        }*/
        body.modal-open {
            overflow: inherit;
        }

        .faq-nav {
            flex-direction: column;
            margin: 0 0 32px;
            border-radius: 2px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
        }

            .faq-nav .nav-link {
                position: relative;
                display: block;
                margin: 0;
                padding: 13px 16px;
                background-color: #fff;
                border: 0;
                border-bottom: 1px solid #ddd;
                border-radius: 0;
                color: #616161;
                transition: background-color 0.2s ease;
            }

                .faq-nav .nav-link:hover {
                    background-color: #f6f6f6;
                }

                .faq-nav .nav-link.active {
                    background-color: #f6f6f6;
                    font-weight: 700;
                    color: rgba(0, 0, 0, 0.87);
                }

                .faq-nav .nav-link:last-of-type {
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    border-bottom: 0;
                }

                .faq-nav .nav-link i.mdi {
                    margin-right: 5px;
                    font-size: 18px;
                    position: relative;
                }

        .tab-content {
            box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
        }

            .tab-content .card {
                border-radius: 0;
            }

            .tab-content .card-header {
                padding: 15px 16px;
                border-radius: 0;
                background-color: #f6f6f6;
            }

                .tab-content .card-header h5 {
                    margin: 0;
                    width: 99%;
                }

                    .tab-content .card-header h5 button {
                        display: inline-block;
                        width: 80%;
                        padding: 0;
                        border: 0;
                        font-weight: 700;
                        color: rgba(0, 0, 0, 0.87);
                        text-align: left;
                        white-space: normal;
                    }

                        .tab-content .card-header h5 button:hover,
                        .tab-content .card-header h5 button:focus,
                        .tab-content .card-header h5 button:active,
                        .tab-content .card-header h5 button:hover:active {
                            text-decoration: none;
                        }

            .tab-content .card-body p {
                color: #616161;
            }

                .tab-content .card-body p:last-of-type {
                    margin: 0;
                }

        .accordion > .card:not(:first-child) {
            border-top: 0;
        }

        .collapse.show .card-body {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
    </style>
}
@{
    ViewBag.Title = ResourceManager.GetLocalisedString("pageHelp", "Title") + " | " + (Config.ForumTitle ?? ClassicConfig.ForumTitle);
}
@section pageMeta
{
    <meta name="description" content="Frequently asked questions about using the forums">
    <meta name="author" content="@(Config.ForumTitle ?? ClassicConfig.ForumTitle)">
}
@section breadcrumb
{
    @Html.BuildBreadcrumbNavigation()
}
@section sidebox{
    @*<div class="side-box">
                <i id="pagesearch" title="Search this page" data-toggle="tooltip" class="fa fa-search" style="cursor: pointer"></i> @ResourceManager.GetLocalisedString("sbSearchPage", "labels")

            </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="side-box">
                @{ Html.RenderPartial("_SearchForums"); }
            </div>
        }*@
    <div class="side-box">
        @Html.Partial("_RightColumn", new ViewDataDictionary(this.ViewData) { { "show", new List<string>() { "catlist" } } })

    </div>

}

<div class="container" id="faq-container">
    <div class="row padding-md">
        <h5 class="title">@ViewBag.Title </h5>
        <hr class="title" />
    </div>
    <div class="row padding-md">
        <div class="col-lg-4">
            <!-- Help Menu -->
            <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                @{
                    var selectedclass = "true";
                    var activecss = "active";
                }
                @foreach (var cat in Model.Categories())
                {
                    var catid = "tab" + cat.Key;

                    <div class="padding-none">
                        <div class="col-xs-10  padding-none">
                            <a href="#@catid" class="nav-item nav-link @activecss" data-toggle="pill" role="tab" aria-controls="@catid" aria-selected="@selectedclass">
                                <i class="fa fa-question-circle-o"></i> @cat.Value
                            </a>
                        </div>
                        @if (User.IsAdministrator() || User.IsUserInRole("FaqModerator"))
                        {
                            <div class="col-xs-2 nav-link @activecss">
                                <a href="@Url.Action("EditCategory", "Help", new {id = @cat.Key})" class="pop-open modal-link" title="@ResourceManager.GetLocalisedString("faqEditCategory", "General")" data-target="tooltip"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Edit", "Help", new {id = -1, category = @cat.Key})" class="pop-open modal-link" title="@ResourceManager.GetLocalisedString("faqAddQuestion", "General")" data-target="tooltip"><i class="fa fa-plus"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-2 nav-link @activecss">&nbsp;</div>
                        }

                    </div>
                    selectedclass = "";
                    activecss = "";
                }

            </div>
            <!-- Help Content -->
            <div class="form">
                @if (User.IsAdministrator() || User.IsInRole("FaqModerator"))
                {

                    using (Ajax.BeginForm("AddCategory", "Help", null, new AjaxOptions
                    {
                        OnSuccess = "OnCreateSuccess",
                        OnFailure = "OnFailure",
                        HttpMethod = "POST",
                        LoadingElementId = "loading"
                    }))
                    {
                        <div class="form-group">
                            <label for="Description">@ResourceManager.GetLocalisedString("faqAddCategory", "General")</label>
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Category Name" required="required">
                        </div>
                        <div class="form-group"><button type="submit" class="btn btn-info">Save</button></div>
                    }

                }
            </div>
        </div>

        <div class="col-lg-8">
            <div class="tab-content" id="faq-tab-content">

                @{string firstC = "active";}
                @foreach (var cat in Model.Categories())
                {
                    var catid = "tab" + cat.Key;
                    <div class="tab-pane @firstC" id="@catid" role="tabpanel" aria-labelledby="@catid">
                        <div class="accordion" id="accordion-tab-@cat.Key">
                            @{
                                List<Question> questions = Model.GetCategoryQuestions(cat.Key);
                            }

                            @foreach (var q in questions)
                            {

                                <div class="card">
                                    <div class="card-header" id="accordion-tab-@cat.Key-heading-@q.Id">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-@cat.Key-content-@q.Id" aria-expanded="false" aria-controls="accordion-tab-@cat.Key-content-@q.Id">@q.Description</button>
                                            <span class="pull-right">
                                                @if (User.IsAdministrator() || User.IsUserInRole("FaqModerator"))
                                                {
                                                    <a href="@Url.Action("Edit", "Help", new {id = q.Id, category = q.CategoryId})" class="pop-open modal-link" title="@ResourceManager.GetLocalisedString("tipEditFAQ", "Tooltip")" data-target="tooltip"><i class="fa fa-edit"></i></a>
                                                    @Html.ActionLinkConfirm(ResourceManager.GetLocalisedString("lblDelFAQ", "labels"), "Delete", "Help", new {id = q.Id}, "fa fa-trash")
                                                }
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-@cat.Key-content-@q.Id" aria-labelledby="accordion-tab-@cat.Key-heading-@q.Id" data-parent="#accordion-tab-@cat.Key">
                                        <div class="card-body">
                                            <h5><span class="label label-primary">Answer</span></h5>
                                            <p>@Html.Raw(BbCodeProcessor.Format(q.Answer))</p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>

                    </div>
                    firstC = "";

                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="findwindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="" class="modal-dialog">
        <div class="modal-content" style="width:150px !important;height: 160px;min-height:150px !important;">
            <div class="modal-header">
                <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel">Find on page</h4>
            </div>
            <div class="modal-body clearfix">
                <form onsubmit="return false;" class="form-horizontal container-fluid">
                    <div class="form-group"><input type="search" class="form-control" size="25" maxlength="25" id="fwtext" onchange="resettext();" placeholder="Enter text to find"></div>
                    <div class="form-group">
                        <div class="btn-group-sm">
                            <input type="button" class="btn btn-sm btn-primary" value="Find Prev" onclick="findprev();">
                            <input id="btn" type="button" class="btn btn-sm btn-primary" value="Find Next" onclick="this.blur(); findit();"><span id="find_msg"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/find5.min.js")
    @Scripts.Render("~/bundles/post")
    @if (ClassicConfig.GetIntValue("STRPHOTOALBUM") == 1)
    {
        <script src="@Url.Content("~/Scripts/snitz.gallery.upload.min.js")" type="text/javascript"></script>
    }
    <script type="text/javascript">
        function OnCreateSuccess(response) {

            window.location.href = window.SnitzVars.baseUrl + "Help";
        }

        $(window).on("load", function () {
            // set nav-link active state when clicked
            $('body').on("click", ".nav-item", function () {
                $(".nav").find(".nav-item").removeClass("active");
                $(".nav").find(".nav-link").removeClass("active");
                $(this).addClass("active");
                $(this).parent().next('.nav-link').addClass("active");
            });
            $('.nav-item').hover( //replicate nav-link hover on right column
                function () { $(this).parent().next('.nav-link').css("background-color","#f6f6f6"); },
                function () { $(this).parent().next('.nav-link').css("background-color", ""); }
            );

            $('body').on('click', '#pagesearch', function (evt) {
                evt.preventDefault();
                $(this).tooltip('hide');
                $(this).attr('data-target', '#findwindow');
                $(this).attr('data-toggle', 'modal');

            });

            $('#findwindow').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('body').on('click', '.btn-postform', function (event) {
                var val1 = $(this).attr('data-first');
                var val2 = $(this).attr('data-last');
                var label = $(this).attr('data-label');
                var parentDiv = $(this).closest("[id^=editorDiv]");
                var textId = parentDiv.find(".bbc-code-editor")[0].id;
                $("#" + textId).surroundSelection(val1, val2);
                $("#" + textId).focus();
            });

            $('.dropdown-toggle').tooltip();

        });
        $(document).ajaxComplete(function () {
            // ready_or_not();
            if ($('.grid-chooser')) {
                $('.grid-chooser').gridPicker({
                    rows: 10,
                    cols: 10
                });
                $('.grid-chooser')
                    .on('change',
                        function () {
                            var parentDiv = $(this).closest("[id^=editorDiv]");
                            var rows = 3;
                            var cols = 3;
                            var textId = parentDiv.find(".bbc-code-editor")[0].id;
                            var res = $(this).val().split("*");
                            if (res.length === 2) {
                                rows = parseInt(res[0].trim());
                                cols = parseInt(res[1].trim());
                            }
                            var val1 = '[table class=""]\n';
                            var val2 = '';
                            for (var i = 0; i < rows; i++) {
                                val1 += '[tr]';
                                for (var ii = 0; ii < cols; ii++) {
                                    val1 += '[td] [/td]';
                                }
                                val1 += '[/tr]\n';
                            }
                            val2 += '[/table]\n';
                            $("#" + textId).surroundSelection(val1, val2);
                        });
            }
        });
        if ($('.grid-chooser')) {
            $('.grid-chooser').gridPicker({
                rows: 10,
                cols: 10
            });

        }

    </script>
}
