
@using System.Globalization
@using LangResources.Utility
@using SnitzConfig
@using SnitzCore.Filters
@using SnitzCore.Utility
@using WWW.Filters
@using WWW.Views.Helpers
@{
    //check the culture so we can set the page direction and language

    var versionstring = typeof(WWW.Global).Assembly.GetName().Version;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("pageMeta", required: false)
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="@ResourceManager.GetLocalisedString("tipForumRss", "Tooltip") @Html.Raw(Config.ForumTitle)" href="@Url.Action("Active","RssFeed")" />
    @Styles.Render("~/bundles/sitecss?v=" + versionstring)
    @Styles.Render("~/Content/stylesheet.min.css?v=" + versionstring)
    @Html.Raw(Config.ThemeCss("snitz.min.css?v=" + versionstring))
    @Html.Raw(Config.ThemeCss("colours.min.css?v=" + versionstring))


    @RenderSection("styles", required: false)
    @Html.PageStyles()

    <style>
        .navbar-brand {
            padding: 10px;
            padding-left: 40px;
        }
    </style>
    <script src="@Url.Action("Index","JavaScriptSettings")" type="text/javascript"></script>
    <script src="@Url.Action("Resources","JavaScriptSettings")" type="text/javascript"></script>
</head>
<body id="page-top" onload="setStyleFromCookie();windowResize();">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand form-inline">@ViewBag.Title</span>
            </div>
        </div><iframe id="fake" src="about:blank"></iframe>
    </div>
    <main class="container-fluid " id="overall-wrap">


        <!-- Begin page content -->
        <div class="container-fluid">
            <noscript>
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Please enable JavaScript in your browser!
                </div>
            </noscript>
            <div id="main-content" class="col-xs-12">
                @RenderBody()
            </div>
        </div>

    </main>
    <!-- Page Footer -->
    <div id="wrap-footer">
        <div id="site-footer">
            <div class="chunk">

                <div id="foot-left">
                    @if (ViewContext.Controller.GetType().Assembly.GetName().CodeBase.ToLower().Contains("plugins"))
                    {
                        @ViewContext.Controller.GetType().Assembly.GetName().Name
                        @Html.Raw(" Plugin version ")
                        @ViewContext.Controller.GetType().Assembly.GetName().Version
                        <br />
                    }

                    @Html.Raw("Forum version") @typeof(WWW.Global).Assembly.GetName().Version
                </div>

                <div id="foot-right">
                    
                </div>

                <div id="foot-copyright">
                    &copy; @Html.Raw(String.Format(ClassicConfig.Copyright, DateTime.UtcNow.Year))

                </div>
            </div>
        </div>

        <div style="display: none;">
            <a class="anchor" id="bottom" accesskey="z"></a>
        </div>
    </div>

    <!-- Modal -->
    <!-- Common scripts -->
    @Scripts.Render("~/bundles/corejs")
    @Scripts.Render("~/bundles/Snitzjs")
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

    <script type="text/javascript">
    var SnitzVars = SnitzVars || {

    }
    SnitzVars.erpop = '@(TempData["errorpopup"] != null)';
    SnitzVars.pending ="@ViewBag.PendingMembers";
    SnitzVars.errMsg = '@ViewBag.Error';
    SnitzVars.successMsg = '@ViewBag.Success';
    tempScrollTop = sessionStorage.getItem('scrollTop');

    function refreshlazyload(){

        lazyload();
    };

    $(document).ready(function () {
        lazyload();
        $(".fig-caption").each(function () {
            var test = $(this);
            $.ajax({
                url: SnitzVars.baseUrl + "PhotoAlbum/GetCaption/" + $(this).data("id"),
                type: "GET",
                success: function (data) {
                    //alert(data); // the View
                    test.html(data);
                }
            });
        });

        if (SnitzVars.erpop==='True') {
            $('#application-error-div').modal('show');
        }
        /*show popup error message*/

        if (SnitzVars.errMsg.length > 1) {
            errorDlg('@ViewBag.ErrTitle', SnitzVars.errMsg);
        }

        /*show pending members*/
        if (SnitzVars.pending.length > 1 && SnitzVars.pending === 'True') {
            pendingMemberShow('@ResourceManager.GetLocalisedString("mnuAdminPending", "labels")');
        }

        if ('@ViewBag.Prompt'.length > 1) {
            BootstrapDialog.prompt({
                type: BootstrapDialog.TYPE_WARNING,
                title: "@ViewBag.PromptTitle",
                message: $('<span>No Job server found.<br/>Reset the AppPool?</span>'),
                callback: function (result) {
                    // result will be true if button was clicked, it will be false if users close the dialog directly.
                    if (result) {
                        $.ajax({
                            async: true,
                            type: "POST",
                            url: window.SnitzVars.baseUrl + "Admin/ResetApplication",
                            data: { userName: window.SnitzVars.userName },
                            cache: false,
                            success: function () { return false; }

                        });
                    }
                }

            });
        }
    });
    </script>
    <!-- main script section for pages -->
    @RenderSection("scripts", required: false)
    @Html.PageScripts()
    <script>

        var windowResize = function () {
            var maxheight = screen.availHeight * 95 / 100;
            var width = Math.min(screen.availWidth * 95 / 100, 800);
            var height = document.getElementById("resizeDiv").offsetHeight;

            window.resizeTo(width, Math.min(height + 160, maxheight));
        }


    </script>
</body>
</html>
