
@using LangResources.Utility
@using Snitz.Base

@{
    TempData["SideBox"] = true;
}

<form action="@Url.Action("Search", "Forum", new {})" method="post" class="search-side">
    @Html.AntiForgeryToken()
    <div class="input-group">
        <input type="hidden" name="SearchModel.ForumId" value="@ViewData["ForumId"]" />
        <input type="hidden" name="SearchModel.Category" value="@ViewData["Category"]" />
        <input type="hidden" name="SearchModel.FullTextType" value="@Enumerators.FullTextMatch.Loose" />
        <input type="hidden" name="SearchModel.PhraseType" value="@Enumerators.SearchWordMatch.ExactPhrase" />
        <input type="hidden" name="SearchModel.SearchIn" value="@Enumerators.SearchIn.Message" />
        <input type="hidden" name="SearchModel.SearchByDays" value="@Enumerators.SearchDays.Any" />
        <input name="SearchModel.Term" data-val="true" data-val-length-min="3" data-val-length="@string.Format(ResourceManager.GetLocalisedString("strMinLength", "ErrorMessage"),"",3)" data-val-required="@string.Format(ResourceManager.GetLocalisedString("Validation_Required", "ErrorMessage"),"")" class="form-control" type="text" placeholder="@ResourceManager.GetLocalisedString(ViewData["langStr"].ToString(), "Title")" value="">
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <div class="form-group">
        @Html.ValidationSummary(false, "", new { @class = "list-group-item-info" })
    </div>
</form>