
@using LangResources.Utility
@model WWW.Models.LocalPasswordModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
    <h4 class="modal-title">@ResourceManager.GetLocalisedString("ProfileChangePasswordTitle", "General")</h4>
</div> 

@using (Html.BeginForm("ChangePassword", "Account",FormMethod.Post,new{id="changePwdForm"})) {
    
    @Html.AntiForgeryToken()
    
    <span class="text-success">@ViewBag.Message@Html.ValidationSummary()</span>
    <div class="modal-body ltr">
        <div class="container-fluid form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-sm-4 hidden-xs" })
                <div class="col-sm-7">
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = ResourceManager.GetLocalisedString("CurrentPassword", "General") })
                </div>
            </div>
            <div class="form-group" id="pwd-container">
                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-4 hidden-xs" })
                <div class="col-sm-7">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = ResourceManager.GetLocalisedString("NewPassword", "General"), id="NewPassword" })
                </div>
                <div class="col-sm-6 col-sm-offset-4" >
                                    <div class="pwstrength_viewport_progress" style="margin-top: 4px; display: none;"></div>
                                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-4 hidden-xs" })
                <div class="col-sm-7">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = ResourceManager.GetLocalisedString("ConfirmNewPassword", "General"),data_val_required="You must confirm the new password" })
                </div>
            </div>
        </div>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">@ResourceManager.GetLocalisedString("btnCancel", "labels")</button>
    <button type="submit" id="approve-btn" class="btn btn-success">@ResourceManager.GetLocalisedString("btnChange", "labels")</button>
</div>    
}

    <script type="text/javascript">
        $(document)
            .ready(function() {
                "use strict";
                var options = {};
                options.common = {
                    minChar: 8
                };
                options.rules = {
                    activated: {
                        wordTwoCharacterClasses: true,
                        wordRepetitions: true
                    }
                };

                options.ui = {
                    verdicts:["@ResourceManager.GetLocalisedString("passWeak", "Controls")", "@ResourceManager.GetLocalisedString("passNormal", "Controls")", "@ResourceManager.GetLocalisedString("passMedium", "Controls")", "@ResourceManager.GetLocalisedString("passStrong", "Controls")", "@ResourceManager.GetLocalisedString("passVSTrong", "Controls")"],
                    container: "#pwd-container",
                    showErrors: true,
                    showVerdictsInsideProgressBar: true,
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    }
                };
                $('#NewPassword').on("focus",function() {
                            $(".pwstrength_viewport_progress").show();
                        });
                $('#NewPassword').pwstrength(options);

                $("#changePwdForm")
                    .removeData("validator") /* added by the raw jquery.validate plugin */
                    .removeData("unobtrusiveValidation"); /* added by the jquery unobtrusive plugin */

                $.validator.unobtrusive.parse($("#changePwdForm"));
                setRequiredFields();
                $("#changePwdForm")
                    .submit(function (e) {
                        $('input[type="submit"]').attr('disabled', 'disabled');
                        e.preventDefault();
                        if ($(this).valid()) {
                            $.post(SnitzVars.baseUrl + 'Account/ChangePassword',
                                $(this).serialize(),
                                function(data) {
                                    $('#modal-container').modal('hide');
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_SUCCESS,
                                        title: '@ResourceManager.GetLocalisedString("ProfileChangePasswordTitle", "General")',
                                        message: data
                                    });

                                });

                        } else {
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_WARNING,
                                title: 'Change password Error',
                                message: data.responseText
                            });
                            $('input[type="submit"]').removeAttr('disabled');
                        }

                    });

            });
    </script>
