@using LangResources.Utility
@model WWW.ViewModels.PrivateMessageSettings
@using (Html.BeginForm("SettingsSave", "PrivateMessage", FormMethod.Post, new { id = "settings-form" }))
{
    @Html.AntiForgeryToken()
    ViewBag.SubmitButton = ResourceManager.GetLocalisedString("btnSave", "labels");
    <div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-7" for="Receive">@ResourceManager.GetLocalisedString("ReceivePM", "PrivateMessage")</label>
            @Html.CheckBoxFor(x=>x.Receive,new{@class="yesno-checkbox", data_size="mini"})
        </div>
        <div class="form-group">
            <label class="control-label col-xs-7" for="Notify">@ResourceManager.GetLocalisedString("NotifyPM", "PrivateMessage")</label>
            @Html.CheckBoxFor(x=>x.Notify,new{@class="yesno-checkbox", data_size="mini"})
        </div>
        @*        <div class="form-group">
            <label class="control-label col-xs-7" for="SentItems">@ResourceManager.GetLocalisedString("SaveSentPM", "PrivateMessage")</label>
            @Html.CheckBoxFor(x=>x.SentItems,new{@class="yesno-checkbox", data_size="mini"})
        </div>*@
        <input type="hidden" value="True" name="SentItems"/>

        @{ Html.RenderPartial("_FormButtons"); }
    </div>

}
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#settings-form");
        $(".yesno-checkbox").bootstrapSwitch();
    });
</script>