@using LangResources.Utility
@model WWW.Models.LocalPasswordModel


@using (Html.BeginForm("ResetPassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    if (ViewBag.Message != null)
    {
        @Html.Raw(ViewBag.Message)
        if (ViewBag.Change != null && Convert.ToBoolean(ViewBag.Change))
        {
            <fieldset class="form-group">
                <legend>@ResourceManager.GetLocalisedString("PasswordReset", "General")</legend>
            <hr class="title"/>

            <div class="form-group input-block-level">
                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    <input type="password" id="NewPassword" name="NewPassword" placeholder="@ResourceManager.GetLocalisedString("NewPassword", "General")" class="form-control ltr" />
                </div>
            </div>
            <div class="form-group input-block-level">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="@ResourceManager.GetLocalisedString("ConfirmNewPassword", "General")" class="form-control ltr" />
                </div>
            </div>
            <input type="hidden" id="token" name="token" value="@ViewBag.Token"/>
            <input type="submit" value="@ResourceManager.GetLocalisedString("PasswordReset", "General")" class="btn btn-primary" />
          </fieldset>
        }
    }
    else
    {
        <fieldset class="form-group-lg">
            <legend>@ResourceManager.GetLocalisedString("PasswordReset", "General")</legend>
            <label class="control-label">@ResourceManager.GetLocalisedString("plhUsername", "Controls")</label>
            <input required type="text" id="username" name="username" placeholder="@ResourceManager.GetLocalisedString("plhUsername", "Controls")" class="form-control ltr" oninvalid="this.setCustomValidity('@ResourceManager.GetLocalisedString("plhUsername", "Controls")')"/>
            <br/>
                    <input type="submit" value="@ResourceManager.GetLocalisedString("PasswordReset", "General")" class="btn btn-primary" />
        </fieldset>
        
    }
}
