@using LangResources.Utility
@using SnitzConfig
@using SnitzCore.Extensions
@using SnitzDataModel.Extensions
@using SnitzDataModel.Models
@using WWW.Views.Helpers
@using System.Configuration


@{
    ViewBag.PageTitle = "Plugin Configuration";
    ViewBag.ActivePage = "Mod Config";
    ViewBag.SubmitButton = "";

}

<div class="panel panel-primary panel-body clearfix">
    <div class="col-sm-11 flip text-left">
        @using (Html.BeginForm("SaveModConfig", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            ViewBag.SubmitButton = ResourceManager.GetLocalisedString("btnSave", "labels");
            if (Config.TableExists("FORUM_BOOKMARKS"))
            {
                <div class="form-group">
                    @Html.ConfigToggle("Bookmarks", "STRBOOKMARKS", "", "control-label col-xs-3")
                </div>
            }

            if (Config.TableExists("FORUM_THANKS"))
            {
                <div class="form-group">
                    @Html.ConfigToggle(ResourceManager.GetLocalisedString("AdminLabel", "Thanks"), "STRTHANKS", "", "control-label col-xs-3")
                </div>
            }
            if (Config.TableExists("FORUM_WIDGETS"))
            {
                <div class="form-group">
                    @Html.ConfigToggle("Widgets", "INTWIDGETS", "", "control-label col-xs-3")
                </div>
            }
            <hr class="title"/>
            if (Config.TableExists("FORUM_IMAGES"))
            {
                Html.RenderAction("Enable", "PhotoAlbum");
            }
            if (Config.TableExists("CAL_EVENTS"))
            {
                Html.RenderAction("Enable", "Calendar");
            }
            if (Config.TableExists(ConfigurationManager.AppSettings["memberTablePrefix"] + "USERFIELDS"))
            {
                Html.RenderAction("Enable", "MemberFields");
            }
            @Html.Hidden("ControllerView", "ModConfiguration");
            Html.RenderPartial("_FormButtons");
        }


    </div>
</div>

@using (Html.BeginScripts())
{
    <script src="@Url.Content("~/Scripts/snitz.extendedprofile.js")"></script>

}
