@using LangResources.Utility
@using SnitzConfig

@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
    ViewBag.Title = "Unexpected Error";

    //Exception ex = Model.Exception;
}
    <div class="alert alert-warning col-xs-4 col-xs-offset-4" style="padding-left: 40px;">
        <h2>Oops!</h2>
        <p>Unfortunately there was an error on the forum, the Administrators have been notified automatically.</p>
        <br />
        <p>
            Here are some useful links to help you out.
            <ul class="list-unstyled">
                <li>@Html.ActionLink(ResourceManager.GetLocalisedString("mnuForumSearch", "Menu"), "Search", "Forum")</li>
                <li>@Html.ActionLink(ResourceManager.GetLocalisedString("mnuForumFAQ", "Menu"), "Index", "Help")</li>
                <li>@Html.ActionLink(ResourceManager.GetLocalisedString("mnuForumHome", "Menu"), "Index", "Home")</li>
                <li>@Html.ActionLink(ResourceManager.GetLocalisedString("mnuForumActive", "Menu"), "Active", "Topic")</li>
            </ul>
        </p>
    </div>

    <div class="container-fluid">
        <div class="col-xs-6 col-xs-offset-3">

            @if (Model != null && (ClassicConfig.ShowDebug)) 
            {
                <div class="row-fluid">
                    <div>
                        <pre style="width: 90%; margin: auto; height: 450px; overflow: scroll">
                        @Model.ControllerName
                        @Model.ActionName
                        @Model.Exception.InnerException
                        @Model.Exception.StackTrace
                    </pre>
                    </div>
                </div>
            }
        </div>
    </div>
