
@using LangResources.Utility
@using WWW.Views.Helpers

@model WWW.ViewModels.SplitTopicViewModel
@section styles
{
    <style>
        .message img {max-width:400px !important;}
    </style>
}
@{
    ViewBag.Title = "Topic : " + Model.Topic.Subject;
    List<int> selectedReplies = new List<int>();
    if (Session["ReplyList"] != null)
    {
        selectedReplies = (List<int>)Session["ReplyList"];
    }    
}
<h5>Split Topic</h5><hr class="title" />
@using (Html.BeginForm("SplitTopic","Topic",FormMethod.Post,new{@class="form-horizontal"})){
    @Html.AntiForgeryToken()
<div class="row-fluid">
    <div class="col-xs-6 offset3">
        <p class="featured">Select the posts you would like to move. The posts will be moved into a new topic using the information provided below.</p>
        <label for="ForumId">Forum</label>
        @Html.DropDownListFor(model => model.ForumId, new SelectList(Model.ForumList,"Key","Value"),new {@class="form-control"})
        <label for="Subject">Subject</label>
        @Html.TextBoxFor(model => model.Subject, new {@class="form-control"})
        <h5 class="small">Topic Review</h5>
        <table class="table table-responsive table-bordered table-condensed table-striped">
            <tr class="">
                <th colspan="2">
                    <label>@Model.Topic.Subject</label>
                </th>
            </tr>
            <tr>
                <td class="col-xs-1">@Model.Topic.Author.Username</td>
                <td>
                    @Model.Topic.Date
                    <hr class="title"/>
                    @Html.FormatBbCode(Model.Topic.Message)
                </td>
            </tr>
        </table>
        
        <div>
            <span class="pull-left flip">@Html.ValidationSummary(false)</span>
            <button class="btn btn-primary pull-right flip">Split</button>
        </div>
    </div>
</div>
<div class="row-fluid">
    
    <div class="col-xs-8 offset2">
        <h5>Replies</h5><hr class="title" />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-xs-1">
                        @ResourceManager.GetLocalisedString("lblAuthor", "labels")
                    </th>
                    <th class="col-xs-10">
                
                    </th>
                    <th  class="col-xs-1"><input type="checkbox" id="checkAll" title="@ResourceManager.GetLocalisedString("tipCheckAll", "Tooltip")"/></th>
                </tr>
            </thead>
            @foreach (var item in Model.Replies)
            {
                <tr>
                    <td>@Html.HiddenFor(i => i.Id)@item.Author.Username</td>
                    <td class="message-small">
                        @item.Date
                        <hr class="title"/>
                        @Html.FormatBbCode(item.Message)
                    </td>
                    <td>
                        @if (selectedReplies.Contains(item.Id) || item.Id == ViewBag.ReplyId)
                        {
                            <input type="checkbox" id="check" name="check" value="@item.Id" class="selector" checked=""/>
                        }
                        else
                        {
                            <input type="checkbox" id="check" name="check" value="@item.Id" class="selector"/>
                        }
                        
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
}   
    
    


@section Scripts {

<script type="text/javascript">
    $('#checkAll').change(function () {
        var checkboxes = $(this).closest('form').find(':checkbox');
        if ($(this).is(':checked')) {
            checkboxes.prop('checked', true);
        } else {
            checkboxes.prop('checked', false);
        }
    });

    $.validator.addMethod('selector', function (value) {
        return $('.selector:checked').size() > 0;
    }, 'Please select at least one reply.');


</script>
}
